body {
  background-color:rgb(160, 160, 160);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contaner {
  margin: 0 auto;
  max-width: 1200px;
}

.main_header {
  margin-top: 12px;
  margin-bottom: 12px;
  color: rgb(0, 0, 255);
  font-size: 32px;
  text-align: center;
}

.fiters_container,
.students_table_container {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.fiters_container {
  border-top: 1px solid #000;
  background-color: rgb(180, 180, 180);
}

.students_table_container {
  background-color: rgb(200, 200, 200);
}

.fiters_header,
.table_students_header {
  margin: 0;
  color: rgb(0, 0, 150);
  font-size: 24px;
  text-align: center;
}

.filter_label {
  color: rgb(0, 0, 150);
  font-size: 18px;
  text-align: right;
}

/* #add_stud_form:target {display: block;} */

#add_stud_form {
  width: 800px;
  height: 430px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  background-color:rgb(220, 220, 220);

  /*позиционируем и центрируем*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 100;
  display: none;
}

.okno_header {
  margin-bottom: 20px;
}

.input_okno_list {
  margin-bottom: 20px;
}

.name_label {
  font-size: 18px;
  text-align: right;
}

.students_table {
  background-color: rgb(240, 240, 240);
}

.table_students_top {
  margin-top: 12px;
  margin-bottom: 12px;
}

.table {
  margin-bottom: 0;
}

.btn_table {
  margin-right: 25px;
}

/* hover для ячеек заголовкa таблицы */
#tableHeadCell_FIO:hover {
  background-color: rgb(210, 210, 210);
}
#tableHeadCell_facultet:hover {
  background-color: rgb(210, 210, 210);
}
#tableHeadCell_dataBeth:hover {
  background-color: rgb(210, 210, 210);
}
#tableHeadCell_startYear:hover {
  background-color: rgb(210, 210, 210);
}

/* Секция добавить студента */
#add_stud_form_container {
  position: relative;
}

#error_mesage {
  color: red;
  text-align: center;
  visibility: hidden;
}

#btn-close {
  content: 'X';
  text-decoration:none;
  color: red;
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 15px;
  transform: translateY(1px);
}




/* tr:hover {
  background-color: rgb(240, 240, 240);
} */
